<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>박진국</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body style="width: 100%">

<div style="margin: auto; padding: 20px 32px; flex-flow: column">

    <header>
        <div>
            <h2>Jinguk Park</h2>
            <p>Full Stack Developer</p>
        </div>

        <div class="sns">
            <h4>Go others</h4>
            <a href="https://github.com/parkjg20"><img src="/sns/github.png"></a>
        </div>

    </header>

    <section class="contacts">
        <h2>Contacts</h2>
        <p>H. <bold>010 5543 1787</bold></p>
        <p>E. <bold>parkjg20@naver.com</bold></p>
    </section>


    <section>
        <h2>I'm on...</h2>

        <div class="row">
            <p>improving JPA Specification Builder! <a href="https://github.com/parkjg20/jpa-specification-builder" target="_blank">What is that?</a></p>

        </div>
    </section>
    <section>
        <h2>Skills</h2>

        <div class="skills">
            <h3>Languages</h3>

            <div class="skill">
                <img src="/skills/java.png" alt="">
                <h4>Java</h4>
            </div>
            <div class="skill small">
                <img src="/skills/kotlin.png" alt="">
                <h4>Kotlin</h4>
            </div>
            <div class="skill">
                <img src="/skills/node.png" alt="">
                <h4>Node.js</h4>
            </div>
            <div class="skill small">
                <img src="/skills/typescript.png" alt="">
                <h4>TypeScript</h4>
            </div>
            <div class="skill">
                <img src="/skills/php.png" alt="">
                <h4>PHP</h4>
            </div>
        </div>
        <div class="skills">
            <h3>Frameworks</h3>

            <div class="skill">
                <img src="/skills/springboot.png" alt="">
                <h4>Spring Boot</h4>
            </div>
            <div class="skill">
                <img src="/skills/laravel.png" alt="">
                <h4>Laravel</h4>
            </div>
            <div class="skill">
                <img src="/skills/node.png" alt="">
                <h4>Express.js</h4>
            </div>
            <div class="skill">
                <img src="/skills/android.png" alt="">
                <h4>Android</h4>
            </div>
        </div>
        <div class="skills">
            <h3>DBs</h3>

            <div class="skill">
                <img src="/skills/mysql.png" alt="">
                <h4>MySQL</h4>
            </div>
            <div class="skill">
                <img src="/skills/oracle.png" alt="">
                <h4>Oracle</h4>
            </div>
            <div class="skill">
                <img src="/skills/postgres.png" alt="">
                <h4>PostgresQL</h4>
            </div>

        </div>
        <div class="skills">
            <h3>ETCs</h3>

            <div class="skill">
                <img src="/skills/git.png" alt="">
                <h4>Git</h4>
            </div>
            <div class="skill">
                <img src="/skills/rabbitmq.png" alt="">
                <h4>RabbitMQ</h4>
            </div>
            <div class="skill">
                <img src="/skills/docker.png" alt="">
                <h4>Docker</h4>
            </div>
            <div class="skill">
                <img src="/skills/kubernetes.png" alt="">
                <h4>Kubernetes</h4>
            </div>
            <div class="skill">
                <img src="/skills/aws.png" alt="">
                <h4>AWS</h4>
            </div>
            <div class="skill">
                <img src="/skills/gcp.png" alt="">
                <h4>GCP</h4>
            </div>
            <div class="skill">
                <img src="/skills/firebase.png" alt="">
                <h4>Firebase</h4>
            </div>
            <div class="skill">
                <img src="/skills/jenkins.png" alt="">
                <h4>Jenkins</h4>
            </div>
        </div>
    </section>

    <section class="row" style="gap: 32px; padding-top: 38px; border-top:  2px solid black;">
        <div class="col">
            <h2><img src="/icon/careers.png" alt="">Careers</h2>

            <ul class="careers">
                <li>
                    <div class="title">
                        <h4>엑스이허브(주)</h4>
                        <p>2022.01 ~ 2023.02</p>
                    </div>
                </li>
                <li>
                    <div class="title">
                        <h4>(주) 마켓잇</h4>
                        <p>2021.08 ~ 2021.12</p>
                    </div>
                </li>
                <li>
                    <div class="title">
                        <h4>(주) 데이터플로</h4>
                        <p>2019.04 ~ 2021.08</p>
                    </div>
                </li>
            </ul>

        </div>

        <div class="col">
            <h2><img src="/icon/graduations.png" alt="">Graduations</h2>

            <ul class="graduations">
                <li>
                    <div class="title">
                        <h4>동양미래대학교</h4>
                        <p>컴퓨터소프트웨어공학과</p>
                    </div>
                </li>
                <li>
                    <div class="title">
                        <h4>한양공업고등학교</h4>
                        <p>컴퓨터네트워크과</p>
                    </div>
                </li>
            </ul>

        </div>
        <div class="col">
            <h2><img src="/icon/licenses.png" alt="">Licenses</h2>

            <ul class="licenses">
                <li>
                    <div class="title">
                        <h4>정보처리기사</h4>
                        <p>한국산업인력공단</p>
                    </div>
                </li>
                <li>
                    <div class="title">
                        <h4>정보처리기능사</h4>
                        <p>한국산업인력공단</p>
                    </div>
                </li>
                <li>
                    <div class="title">
                        <h4>정보기기운용기능사</h4>
                        <p>한국산업인력공단</p>
                    </div>
                </li>
            </ul>

        </div>
    </section>


    <section class="row" style="gap: 32px; padding-top: 38px; border-top:  2px solid black;">
        <div class="col">
            <h2>Projects</h2>

            <ul class="projects">
                <li>
                    <div class="title">
                        <h3>전자명함 플랫폼 구축 프로젝트</h3>
                        <p>2022.06 ~ 2023.02</p>
                    </div>
                    <div class="skill">
                        <img src="/skills/java.png">
                        <img src="/skills/springboot.png">
                        <img src="/skills/docker.png">
                        <img src="/skills/kubernetes.png">
                        <img src="/skills/mysql.png">
                    </div>
                    <div class="description">
                        <div>
                            <h4>주요 업무</h4>
                            <p>NFT 기술 연계 이력 관리, 명함 플랫폼 구축</p>
                        </div>
                        <div>
                            <h4>담당 업무</h4>
                            <p>NFT 연계, 외부 경력/자격증 불러오기 등 코어 프로세스 구축</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="title">
                        <h3>아이투(iTOO) 커뮤니티 백오피스 구축</h3>
                        <p>2022.09 ~ 2022.10</p>
                    </div>
                    <div class="skill">
                        <img src="/skills/vue.png">
                        <img src="/skills/springboot.png">
                        <img src="/skills/mysql.png">
                        <img src="/skills/jenkins.png">
                    </div>
                    <div class="description">
                        <div>
                            <h4>주요 업무</h4>
                            <p>커뮤니티 백오피스 구축</p>
                        </div>
                        <div>
                            <h4>담당 업무</h4>
                            <p>백오피스 프론트엔드 구축</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="title">
                        <h3>공유 미용실 플랫폼 개발</h3>
                        <p>2022.01 ~ 2022.06</p>
                    </div>
                    <div class="skill">
                        <img src="/skills/php.png">
                        <img src="/skills/laravel.png">
                        <img src="/skills/mysql.png">
                    </div>
                    <div class="description">
                        <div>
                            <h4>주요 업무</h4>
                            <p> 미용실, 미용사 관리 및 근로계약, 임대 계약 처리, 시술 예약 시스템, 정산 시스템</p>
                        </div>
                        <div>
                            <h4>담당 업무</h4>
                            <p>근로 계약, 임대 계약, 시술 예약 등 코어 프로세스 구축, DB 모델링</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="title">
                        <h3>마켓잇 인플루언서 카드 개발</h3>
                        <p>2021.10 ~ 2021.12</p>
                    </div>
                    <div class="skill">
                        <img src="/skills/kotlin.png">
                        <img src="/skills/springboot.png">
                        <img src="/skills/mysql.png">
                        <img src="/skills/docker.png">
                        <img src="/skills/kubernetes.png">
                        <img src="/skills/aws.png">
                    </div>
                    <div class="description">
                        <div>
                            <h4>주요 업무</h4>
                            <p>현대카드 결제 정보 연동 및 RESTful API 설계/개발</p>
                        </div>
                        <div>
                            <h4>담당 업무</h4>
                            <p> 데이터베이스 모델링, 배포 자동화 구축(Docker, Kubernetes, Github Actions), RESTful API 개발</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="title">
                        <h3>마켓잇 콘텐츠 스토어 개발</h3>
                        <p>2021.08 ~ 2021.10</p>
                    </div>
                    <div class="skill">
                        <img src="/skills/php.png">
                        <img src="/skills/mysql.png">
                        <img src="/skills/docker.png">
                        <img src="/skills/kubernetes.png">
                        <img src="/skills/aws.png">
                    </div>
                    <div class="description">
                        <div>
                            <h4>주요 업무</h4>
                            <p>RESTful API 설계/개발</p>
                        </div>
                        <div>
                            <h4>담당 업무</h4>
                            <p> 콘텐츠 스토어 조회, 상호작용 기능 구현</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="title">
                        <h3>자사 쇼핑몰 개발</h3>
                        <p>2020.11 ~ 2021.08</p>
                    </div>
                    <div class="skill">
                        <img src="/skills/java.png">
                        <img src="/skills/springboot.png">
                        <img src="/skills/kotlin.png">
                        <img src="/skills/android.png">
                        <img src="/skills/node.png">
                        <img src="/skills/mysql.png">
                        <img src="/skills/aws.png">
                    </div>
                    <div class="description">
                        <div>
                            <h4>주요 업무</h4>
                            <p>백오피스 개발(Spring Boot), 쇼핑몰 앱, 웹 개발(Kotlin, Node.js, Vue.js)</p>
                        </div>
                        <div>
                            <h4>담당 업무</h4>
                            <p>정산, 결제, 배송 관리 등 Core Process 포함 전반 개발, 서버 구축</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="title">
                        <h3>3D 이미지 촬영 플랫폼 구축</h3>
                        <p>2020.01 ~ 2020.12</p>
                    </div>
                    <div class="skill">
                        <img src="/skills/java.png">
                        <img src="/skills/springboot.png">
                        <img src="/skills/android.png">
                        <img src="/skills/node.png">
                        <img src="/skills/mysql.png">
                    </div>
                    <div class="description">
                        <div>
                            <h4>주요 업무</h4>
                            <p>백오피스 개발(전자정부), 촬영 플랫폼 앱 개발(Android, Node.js)</p>
                        </div>
                        <div>
                            <h4>담당 업무</h4>
                            <p>정산, 결제, 배송 관리 등 Core Process 포함 전반 개발</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="title">
                        <h3>배송 추적 플랫폼 개발</h3>
                        <p>2019.04 ~ 2019.09</p>
                    </div>
                    <div class="skill">
                        <img src="/skills/java.png">
                        <img src="/skills/android.png">
                        <img src="/skills/node.png">
                        <img src="/skills/gcp.png">
                        <img src="/skills/firebase.png">
                    </div>
                    <div class="description">
                        <div>
                            <h4>주요 업무</h4>
                            <p>백오피스 개발(전자정부), 촬영 플랫폼 앱 개발(Android, Node.js)</p>
                        </div>
                        <div>
                            <h4>담당 업무</h4>
                            <p>정산, 결제, 배송 관리 등 Core Process 포함 전반 개발</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</div>

</body>
</html>